*.o
*.pyc

/source/kernel/kernel
/source/lib/c/src/arch/amd64/syscall_table.h
/source/drivers/input/ps2/ps2
/source/drivers/video/screen/screen
/source/servers/devman/devman
/source/servers/terminal/terminal

/source/lib/c/libc.a
/source/lib/support/libsupport.a
/source/lib/devman/libdevman_client.a
/source/lib/devman/libdevman_server.a

/urubu-amd64.iso

/toolchain/amd64

/.sconsign.dblite
